.bio {
  max-width: 500px;
  margin-bottom: 50px;
  height: 40%;
}

.bio__header {
  margin-bottom: 20px;
  font-weight: 700;

  a {
  	text-decoration: none;

  	&:hover {
  		text-decoration: none;
  	}
  }
}

.bio__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bio__social {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.bio__desc,
.bio__social {
  flex-shrink: 3;
}

.bio__img__container {
  max-width: 400px;
}

.bio__img {
  display: block;
  opacity: 0.7;
  // position: absolute;
  width: 100%;
  height: auto;
  // margin-left: 50%;
  // margin-top: -90px;
  z-index: -1;
}
